---
import logoTami from "../../../assets/images/logos/logo_animado.gif";
import socialMediaLinks from "../../../data/socialMedia.data";
import NavSocialMediaLink from "../sideMenu/NavSocialMediaLink";
import mascotaTami from "../../../assets/images/Logos/mascota_tami.webp";
import CopyText from "./CopyText.astro";
---

<footer class="bg-teal-600 text-white py-6">
  {/* Diseño para resoluciones mayores a 1024px */}
  <div
    class="hidden lg:flex container mx-auto px-4 flex-col lg:flex-row justify-evenly items-start space-y-8 lg:space-y-0 lg:space-x-4"
  >
    {/* Logo */}
    <img
      src={logoTami.src}
      alt="Logo de Tami Perú"
      class="self-center w-1/12 sm:w-1/16 lg:w-1/16 2xl:w-1/12"
    />

    {/* Línea vertical (visible solo en pantallas grandes) */}
    <div class="hidden lg:block w-px bg-white self-stretch"></div>

    {/* Links */}
    <div class="w-full lg:w-1/6">
      <ul class="space-y-4 font-bold text-sm text-center lg:text-left">
        <li>
          <a href="/" class="hover:underline"> INICIO </a>
        </li>
        <li>
          <a href="/about" class="hover:underline">NOSOTROS</a>
        </li>
        <li>
          <a href="/products" class="hover:underline">PRODUCTOS</a>
        </li>
        <li>
          <a href="/shipping-policies" class="hover:underline"
            >POLÍTICAS DE ENVÍOS</a
          >
        </li>
        <li>
          <a href="/blog" class="hover:underline">BLOGS</a>
        </li>
        <li>
          <a href="/store" class="hover:underline">TIENDA</a>
        </li>
      </ul>
    </div>

    {/* Información */}
    <div class="w-full lg:w-2/6 text-center lg:text-left">
      <h3 class="font-bold mb-1 text-yellow-300">Horario de atención</h3>
      <p>
        Lunes a Viernes<br />
        9:00 am a 9:00 pm
      </p>
      <h3 class="font-bold mt-3 mb-1 text-yellow-300">
        Para mayor información
      </h3>
      <CopyText>informestami01@gmail.com</CopyText>
      <CopyText>+51978883199</CopyText>
      <div class="mt-3 flex justify-center lg:justify-start space-x-4">
        {
          socialMediaLinks.map((item) => (
            <NavSocialMediaLink
              socialMediaName={item.socialMediaName}
              image={item.image.src}
              link={item.url}
            />
          ))
        }
      </div>
    </div>

    {/* Mascota y botón */}
    <div class="w-full lg:w-1/6 flex flex-col self-center items-center">
      <img
        src={mascotaTami.src}
        alt="Mascota Tami"
        class="w-2/5 sm:w-1/4 lg:w-3/4 2xl:w-4/6 mb-4"
      />
      <a
        href="https://api.whatsapp.com/send?phone=51978883199"
        target="_blank"
        class="bg-teal-700 hover:bg-teal-900 text-white font-bold py-2 px-6 rounded-full transition-colors duration-300"
      >
        ¡CONTÁCTANOS!
      </a>
    </div>
  </div>
  {/* Diseño para resoluciones menores a 1024px */}

  <div class="block lg:hidden bg-teal-600 text-white py-4">
    <div
      class="container mx-auto px-4 flex items-center justify-center space-x-10"
    >
      <img src={logoTami.src} alt="logo-tami" class="w-[80px] h-auto" />
      <div class="text-left">
        <h3 class="font-bold text-yellow-300 text-sm md:text-base">
          Para mayor información
        </h3>
        <CopyText>informestami01@gmail.com</CopyText>
        <CopyText>+51978883199</CopyText>
      </div>
    </div>
  </div>
</footer>
