---
import Layout from "../layouts/Layout.astro";
import aboutHero from "@images/about/nosotros_hero.webp";
import circuitosFondo from "@images/about/circuitos.webp";
import fondoMyV from "@images/about/myv_fondo.webp";
import iconMision from "@icons/icon_mision.webp";
import iconVision from "@icons/icon_vision.webp";
import valoresArray from "@data/valores.data";
import Card from "../components/about/Card.astro";
---

<Layout title="Sobre Nosotros">
  <section
    class="relative bg-cover bg-center h-96 lg:h-dvh 2xl:h-[90dvh] pt-16 lg:pt-20 lg:ps-20 flex flex-col justify-center items-center lg:items-start text-white"
    style={{
      backgroundImage: `linear-gradient(to bottom, rgba(0, 120, 111, .75), rgba(0,0,0,.75)), url(${aboutHero.src})`,
    }}
  >
    <h1
      style={{ textShadow: "rgba(0,0,0,.2) 1px 1px 20px" }}
      class="text-3xl lg:text-6xl 2xl:text-9xl font-extrabold mb-2 lg:mb-3 2xl:mb-5"
    >
      SOBRE<br />NOSOTROS
    </h1>
    <p
      class="text-sm px-4 sm:px-0 lg:text-2xl 2xl:text-5xl/tight font-bold 2xl:font-semibold"
    >
      Buscamos ayudar en tu negocio, mediante la<br />
      comercialización de productos para<br />
      emprendimiento, trabajo y decoración,<br />
      cumpliendo con los estándares de calidad
    </p>
  </section>
  <div
    class="bg-cover bg-center h-56 md:h-80 lg:h-96 2xl:h-[30dvh] flex justify-center items-center"
    style={{
      backgroundImage: `url(${circuitosFondo.src})`,
    }}
  >
    <div
      class="bg-teal-700 text-white text-lg sm:text-xl md:text-2xl 2xl:text-5xl py-3 sm:py-5 2xl:py-10 px-8 sm:px-14 2xl:px-20 rounded-full shadow-2xl text-center"
    >
      Sobre nuestros
      <br />
      <span class="font-bold">propósitos y metas</span>
    </div>
  </div>
  <section
    class="text-white lg:bg-fixed bg-cover bg-center grid grid-rows-2 grid-cols-2 lg:grid-rows-1 items-center place-items-center h-[70dvh] lg:h-[60dvh] 2xl:h-[50dvh]"
    style={{
      backgroundImage: `linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(${fondoMyV.src})`,
    }}
  >
    <div class="w-full h-full text-center content-center px-1">
      <h4
        class="text-base sm:text-xl lg:text-4xl 2xl:text-8xl font-bold mb-2 2xl:mb-8"
      >
        Misión
      </h4>
      <p class="text-xs sm:text-base lg:text-xl 2xl:text-4xl">
        Entregar soluciones a<br />emprendedores peruanos<br />que compartan
        nuestro<br />deseo de crecer
      </p>
    </div>
    <img
      src={iconMision.src}
      alt="Icono de Misión"
      class="lg:hidden w-1/2 sm:w-1/4"
    />
    <img
      src={iconVision.src}
      alt="Icono de Visión"
      class="lg:hidden w-2/3 sm:w-1/3"
    />
    <div class="w-full h-full text-center content-center px-1">
      <h4
        class="text-base sm:text-xl lg:text-4xl 2xl:text-8xl font-bold mb-2 2xl:mb-8"
      >
        Visión
      </h4>
      <p class="text-xs sm:text-base lg:text-xl 2xl:text-4xl">
        Aspiramos a ser la<br />solución confiable más<br />valorada por
        nuestros<br />clientes
      </p>
    </div>
  </section>
  <section class="bg-white py-6 lg:py-12 lg:px-6">
    <h2
      class="text-center lg:text-left text-teal-600 text-2xl sm:text-4xl md:text-5xl font-extrabold mb-5 lg:mb-10"
    >
      VALORES
    </h2>
    <div
      class="grid grid-rows-2 grid-cols-2 lg:grid-cols-4 lg:gap-4 lg:grid-rows-1 lg:h-96 justify-items-center"
    >
      {
        valoresArray.map((valor: any) => (
          <Card
            image={valor.image}
            title={valor.title}
            paragraph={valor.paragraph}
          />
        ))
      }
    </div>
  </section>
</Layout>