---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero";
import manoRobotica from "@images/index/mano_robotica.webp";
import circuitos from "@images/index/circuitos.webp";
import iconGarantia from "@icons/icon_garantia.webp";
import trabajo from "@images/index/trabajo.webp";
import ProductContainer from "src/components/index/ProductContainer.astro";
import SectionCardsContainer from "src/components/index/SectionCardsContainer.astro";
import BtnGoToSectionCards from "src/components/index/BtnGoToSectionCards";
---

<Layout title="Tami Perú">
  <Hero client:load />
  <section
    id="bienvenida"
    class="scroll-mt-16 h-96 md:h-[calc(100dvh-9rem)] lg:h-[calc(100dvh-4rem)] flex flex-col justify-between"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 w-full h-11/12 overflow-hidden">
      <div class="hidden md:block h-full w-full content-center">
        <div class="relative">
          <img src={manoRobotica.src} class="relative lg:max-w-10/12 z-10" />
          <img
            src={circuitos.src}
            class="absolute inset-0 m-auto max-w-3/4 w-full 2xl:w-full z-0"
          />
        </div>
      </div>
      <div
        class="w-full h-full content-center p-3 md:py-0 md:px-6 lg:p-0 xl:px-16 2xl:px-20"
      >
        <h2
          class="flex items-center gap-2 text-sunset text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl font-extrabold py-2 tracking-widest"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            class="-rotate-90 scale-75 lg:scale-100 xl:scale-125 2xl:scale-175"
            stroke-width="2"
          >
            <path
              d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z"
            ></path>
          </svg> BIENVENIDO A TAMI
        </h2>
        <h3
          class="text-teal-700 text-3xl lg:text-5xl xl:text-6xl 2xl:text-8xl font-extrabold py-2 tracking-wider lg:leading-16 2xl:leading-24"
        >
          TECNOLOGÍA E INNOVACIÓN PARA TI
        </h3>
        <p class="text-stone-500 lg:text-xl xl:text-2xl 2xl:text-4xl py-2">
          Ofrecemos calidad y soluciones avanzadas para mejorar y equipar tu
          negocio y hogar de manera eficiente.
        </p>
      </div>
    </div>
    <BtnGoToSectionCards client:load />
  </section>
  <!-- Arreglar ancho y alto para que se vea como en vimeo :like: -->
  <section
    class="w-full my-8 place-items-center scroll-mt-20"
    id="sectionCards"
  >
    {/* Contenedor de cartas */}
    <SectionCardsContainer />
  </section>
  <section
    class="flex flex-col justify-between pt-6 px-16 bg-linear-to-b from-teal-700 via-teal-500 to-white"
  >
    <h3 class="text-white lg:text-4xl font-extrabold mb-10">
      COMPROMETIDOS CON EL EMPRENDEDOR PERUANO, OFRECIENDO PRODUCTOS ASEQUIBLES
    </h3>
    <ProductContainer />
  </section>
  <h3
    class="text-xs py-2 md:text-2xl 2xl:text-4xl font-bold text-center text-white w-full md:h-22 2xl:h-40 flex items-center justify-center bg-linear-to-r from-teal-700 to-sunset gap-2"
  >
    <svg
      width="100"
      height="50"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="hidden sm:block scale-50 lg:scale-75 2xl:scale-100"
    >
      <path
        d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        transform="translate(2, 0) rotate(-90,12,12)"></path>
      <path
        d="M12 17.414 3.293 8.707l1.414-1.414L12 14.586l7.293-7.293 1.414 1.414L12 17.414z"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        transform="translate(-15, 0) rotate(-90,12,12)"></path>
    </svg>
    DESCUBRE MÁS EN LA SECCIÓN DE <a
      href="/products"
      class="underline underline-offset-3">PRODUCTOS</a
    >
  </h3>
  <section
    class="w-full flex flex-col lg:flex-row items-center justify-center py-6 px-2 lg:px-16"
  >
    {/* Texto */}
    <div class="lg:w-1/2 text-center lg:text-left">
      <h2
        class="flex-col text-teal-700 font-extrabold text-3xl sm:text-4xl lg:text-6xl 2xl:text-7xl flex lg:justify-start gap-2"
      >
        <span class="flex justify-center lg:justify-start items-end">
          ¿POR QUÉ
          <img
            src={iconGarantia.src}
            alt="Garantía"
            class="ml-2 w-10 sm:w-12 lg:w-24"
          />
        </span>
        ELEGIR TAMI?
      </h2>
      <p class="text-gray-600 text-xl 2xl:text-4xl xl:text-3xl mt-4">
        Calidad respaldada por nuestra garantía, mostrando nuestro compromiso
        con la satisfacción de nuestros clientes.
      </p>

      {/* Etiquetas */}
      <div
        class="flex flex-wrap gap-4 my-6 justify-center text-white lg:justify-start 2xl:text-2xl xl:text-lg"
      >
        <div class="bg-teal-700 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full">
          CALIDAD
        </div>
        <div class="bg-teal-600 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full">
          INNOVACIÓN
        </div>
        <div class="bg-teal-500 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full">
          NEGOCIO PROPIO
        </div>
      </div>
    </div>

    {/* Imagen */}
    <img src={trabajo.src} alt="Trabajo" class="w-5/6 lg:w-1/2 2xl:w-1/4" />
  </section>

  <section class="w-full pt-12 flex flex-col relative before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:h-[7px] before:shadow-[0_-4px_6px_-2px_rgba(0,0,0,0.1)] before:shadow-gray-200">
    <h2 class="text-center text-3xl md:text-4xl font-black text-teal-600 mb-4 tracking-widest">
      LO QUE DICEN NUESTROS CLIENTES
    </h2>
    <h3 class="text-center text-lg md:text-2xl font-black text-teal-400 mb-8 md:mb-14 tracking-widest px-4 md:px-40 lg:px-80">
      VALORAMOS CADA COMENTARIO PARA SEGUIR MEJORANDO Y OFRECIENDO LO MEJOR PARA TI.
    </h3>
    <div class="flex justify-center gap-8 px-8 md:gap-14 flex-wrap mb-20">
      {[
        { avatar: "", name: "NOMBRE", rating: 5, text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
        { avatar: "", name: "NOMBRE", rating: 5, text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." },
        { avatar: "", name: "NOMBRE", rating: 5, text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." }
      ].map((testimonial) => (
          <div class="w-full sm:w-80 p-4 px-6 rounded-4xl border border-teal-400 flex flex-col">
            <div class="flex items-center gap-x-4">
              <img src={testimonial.avatar} alt="Avatar" class="w-16 h-16 rounded-full" />
              <div>
                <h3 class="text-xl font-bold text-teal-600 tracking-widest">{testimonial.name}</h3>
                <div class="text-orange-300 text-2xl md:text-4xl">
                  {'★'.repeat(testimonial.rating) + '☆'.repeat(5 - testimonial.rating)}
                </div>
              </div>
            </div>
            <p class="mt-2">{testimonial.text}</p>
          </div>
      ))}
    </div>
    <div class="relative w-full px-4 py-12 h-20 bg-gradient-to-r from-orange-300 from-30% to-teal-500 flex items-center justify-center">
      <h1 class="text-white font-black text-2xl md:tracking-[.5em]">TAMI : TECNOLOGÍA E INNOVACIÓN PARA TI</h1>
    </div>
  </section>
</Layout>
